@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit',sans-serif;

}

html.light{
  --themed-color: #DAF7A6;
}
html.dark{
  --themed-color: #e60067;

}
@font-face {
  font-family: "STUSSY";
  src: url("../public/assets/font/StussyScript-Regular.ttf");
}
@font-face {
  font-family: "HEYTINY";
  src: url("../public/assets/font/HeyTinyBold.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0E1116;
  }
}
*/
:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: #0E1116;
  --foreground: white;
}

.containers{
  max-width: "500px";
}

.marker {
	flex: 1;
	text-decoration: none;
	background-image: linear-gradient(to right, var(--themed-color) 0, var(--themed-color) 100%);
	background-position: 0 1.2em;
	background-size: 0 100%;
	background-repeat: no-repeat;
	transition: background .5s;
}

.marker--ul {
	background-position: 0 1.15em;
	background-image: linear-gradient(to right, var(--themed-color) 0, var(--themed-color) 100%);
}

.marker--text {
	background-position: 0 0.1em;
}

.marker--textmini {
	background-position: 0 -0.1em;
}

.marker--mark {
	background-position: 0 -0.2em;
}

/*
.tfont{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.ffont{
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}
*/
@layer components {
  .WAText{
    @apply text-white max-w-[200px] md:max-w-[300px] font-sans font-normal tracking-normal leading-5  text-[12px] md:text-sm break-words pr-[8px] md:pr-[12px] pb-[1px]
  }
  .WATime{
    @apply text-gray-400 text-[10px] leading-4 md:text-xs font-sans font-normal tracking-normal justify-self-end self-end
  }
  .WACont{
    @apply items-center grid grid-cols-whatsapp max-w-[350px] bg-[#252D32] min-h-[40px] pl-3 pr-2 py-[6px] text-[13px] md:text-[14px] rounded-r-xl rounded-bl-xl
  }
  .WACont2{
    @apply max-w-[250px] md:max-w-[280px] bg-[#252D32] min-h-[40px] rounded-r-xl rounded-bl-xl shrink flex items-center justify-between py-[6px] pl-3 pr-2

  }
  .WAContMe{
    @apply items-center grid grid-cols-whatsapp max-w-[350px] bg-[#075E54] min-h-[40px] pl-3 pr-2 py-[6px] text-[13px] md:text-[14px] rounded-l-xl rounded-br-xl

  }
  .chatTriangle{
    @apply w-0 h-0 border-[4px] border-solid border-transparent border-r-[#252D32] border-t-[#252D32]; 
  }
  .chatTriangleMe{
    @apply w-0 h-0 border-[4px] border-solid border-transparent border-r-[#075E54] border-t-[#075E54]; 
  }
  .triangle { 
    @apply w-0 h-0 border-[4px] border-solid border-transparent; 
  }
  .img-static {
    position: absolute;
  }
  
  .img-static:hover {
    opacity:0;
  }
  .video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

  .video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}
@layer base {
  main h1 {
    @apply font-bold text-5xl md:text-7xl;
  }
  iframe{
    @apply w-full h-full aspect-video;
  }

  main h2 {
    @apply  text-2xl  font-light tracking-wide;
  }

  main h3 {
    @apply text-3xl md:text-[32px] font-medium tracking-wide ;
  }
  main h4 {
    @apply text-base font-light tracking-wide;
  }
  main p{
    @apply text-lg md:text-[21px] font-light tracking-[0.045em] leading-[2.1];
  }
  main blockquote{
    @apply italic text-lg md:text-xl font-light tracking-wide p-4 my-4 bg-gray-50 border-l-4 border-gray-300 dark:border-gray-500 dark:bg-gray-800;
  }
  main ol{
    @apply list-disc list-inside p-4 text-base md:text-lg font-light tracking-wider space-y-4;
  }
}
main span.whisper{
  @apply text-slate-500 dark:text-[#cbd5e0]
}
main span.segment{
  @apply text-orange-600 dark:text-yellow-400
}
main span.terms{
  @apply text-[#e60067] font-caveat leading-[1.5] text-[26px] md:text-[29px]
}

.wa-bg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.85)), url("https://raw.githubusercontent.com/Xetera/xetera.dev/master/content/assets/whatsapp_background.png");
}
.dark-indo-bg{
  background-image: linear-gradient(to right, rgba(14, 17, 22, 0.99), rgba(0, 0, 0, 0.82), rgba(14, 17, 22, 0.99)), url("https://i.ibb.co/ChJLtRL/Flag-of-Indonesia.png");
}
.indo-bg{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.6)), url("https://i.ibb.co/ChJLtRL/Flag-of-Indonesia.png");
}

