@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;

}
@font-face {
  font-family: "STUSSY";
  src: url("../public/assets/font/StussyScript-Regular.ttf");
}
@font-face {
  font-family: "HEYTINY";
  src: url("../public/assets/font/HeyTinyBold.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #0E1116;
  }
}
.containers{
  max-width: "500px";
}

/*
.tfont{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.ffont{
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}
*/
@layer components {
  .img-static {
    position: absolute;
  }
  
  .img-static:hover {
    opacity:0;
  }
}
@layer base {
  main h1 {
    @apply font-bold text-5xl md:text-7xl;
  }

  main h2 {
    @apply  text-2xl font-light tracking-wide;
  }

  main h3 {
    @apply text-lg font-bold md:text-2xl;
  }
  main h4 {
    @apply text-base font-light tracking-wide;
  }
  main p{
    @apply text-lg md:text-xl font-light tracking-wide leading-relaxed;
  }
  main blockquote{
    @apply italic text-lg md:text-xl font-light tracking-wide p-4 my-4 bg-gray-50 border-l-4 border-gray-300 dark:border-gray-500 dark:bg-gray-800;
  }
  main ol{
    @apply list-disc list-inside p-4 text-base md:text-lg font-light tracking-wide space-y-4;
  }
}
main span.whisper{
  color: #cbd5e0;
}
main span.segment{
  color: #FDE047;
}
