@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;

}
@font-face {
  font-family: "STUSSY";
  src: url("../public/assets/font/StussyScript-Regular.ttf");
}
@font-face {
  font-family: "HEYTINY";
  src: url("../public/assets/font/HeyTinyBold.ttf");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1d1d1e;
  }
}
.containers{
  max-width: "500px";
}

/*
.tfont{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.ffont{
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}
*/
@layer components {
  .img-static {
    position: absolute;
  }
  
  .img-static:hover {
    opacity:0;
  }
}