/*

:root{
  --themed-color: #ff3590;
}
[data-theme='dark'] {
  --themed-color: #e60067;
}

.marker {
    flex: 1;
    text-decoration: none;
    background-image: linear-gradient(to right, var(--themed-color) 0, var(--themed-color) 100%);
    background-position: 0 1.2em;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background .5s;
    
    &--ul {
      background-position: 0 1.15em;
      background-image: linear-gradient(to right, var(--themed-color) 0, var(--themed-color) 100%);
    }
    &--text {
      background-position: 0 0.1em;
    }
    &--textmini {
      background-position: 0 -0.1em;
    }
    &--mark {
      background-position: 0 -0.2em;
    }
  }
  */